<div class="card mb-6">
  <header class="card-header card-header-title">
    
        <div class="column">
            <p class="card-body"></p>
      <a href="/post/{{id}}" id="card-title" class="is-pulled-left">{{title}} </a></p>
      </div>

      <div class="column">
      <span class=""> </span>
      </div>
    
  </header>

    <div class="card-content">
        <div class="content has-text-justified">
            {{post_content}}
        </div>
            <div class="is-pulled-right">
                <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
        
    </div>
